<mat-card class="example-card" fxlayout="column" style="height:100%">
	<mat-card-header>
		<div mat-card-avatar class="example-header-image"></div>
		<mat-card-title><strong>{{this.bookSvc.showcaseTitle}}</strong></mat-card-title>
		<mat-card-subtitle>Titles in alphabetical order</mat-card-subtitle>
	</mat-card-header>
	<!--   <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
	<mat-card-content>
		<!--     <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p> -->
		<mat-list>
			<mat-list-item *ngFor="let b of books">
				<img matListAvatar src="{{bookSvc.SERVER}}/thumbnails/{{b.cover_thumbnail}}" alt="">
				<!-- <mat-icon matListIcon>folder</mat-icon> -->
				<a matLine [routerLink]="[ '/book', b.id ]">
					<h3 style="display: inline" matLine><strong> {{b.title}} </strong></h3>
				</a>
				<button mat-icon-button (click)="showDetails(b.id)">
        <mat-icon>info</mat-icon></button>
				<p matLine>
					<span> {{b.author_firstname}} </span>
					<span class="demo-2"> -- {{b.author_lastname}} </span>
				</p>
			</mat-list-item>
		</mat-list>
	</mat-card-content>
	<mat-card-actions>
		<button color="primary" type="button" mat-button (click)="prevBooks()" [disabled]="offset<=0">Prevbooks</button>
		<button color="primary" type="button" mat-button (click)="nextBooks()" [disabled]="books.length<limit">NextBooks</button>

	</mat-card-actions>
</mat-card>