<mat-card class="example-card">
	<mat-card-header>
		<div mat-card-avatar class="example-header-image"></div>
		<mat-card-title><strong>BOOK DETAILS</strong></mat-card-title>
		<mat-card-subtitle>ID:{{book.id}}</mat-card-subtitle>
	</mat-card-header>
	<img mat-card-image src="{{bookSvc.SERVER}}/thumbnails/{{book['cover_thumbnail']}}" alt="">
	<mat-card-content>
		<h3 matLine>
			{{book.title.toUpperCase()}}, written by {{book.author_firstname}} {{book.author_lastname}}
		</h3>
	</mat-card-content>
	<mat-card-actions>
		<button color="primary" type="button" mat-button (click)="prevBook()" [disabled]="book['id']==1">Prevbook</button>
		<button color="primary" type="button" mat-button (click)="nextBook()">NextBook</button>
    		<span class="example-spacer"></span>
		<a mat-raised-button color="accent" routerLink="/">Back</a>
	</mat-card-actions>
</mat-card>