<mat-card class="example-card">
	<mat-card-header>
		<div mat-card-avatar class="example-header-image"></div>
		<mat-card-title><strong>IMAGE TO ASCIIFY</strong></mat-card-title>
		<mat-card-subtitle>You picked: {{fileToSend.value}}</mat-card-subtitle>
	</mat-card-header>
	<img mat-card-image src="" alt="">
	<mat-card-content>
		<form method="POST" action="https://ajlib2.localtunnel.me/images" enctype="multipart/form-data">
			<input #fileToSend type="file" name="img" id="img" accept=".*">
			<input type="submit" value="Send" (click)="postImage(fileToSend.value)"/>
      <img [src]="fileToSend.value">
		</form>
	</mat-card-content>
	<mat-card-actions>

	</mat-card-actions>
</mat-card>