<div class="session-card">
    <div class="header" fxlayout="column" fxlayoutalign="center center" style="flex-direction: column; box-sizing: border-box; display: flex; max-width: 100%; place-content: center; align-items: center;">
        <img class="ng-tns-c65-81" src="assets/img/icon.png">
    </div>
    <div class="content" fxlayout="column" fxlayoutgap="24px" style="flex-direction: column; box-sizing: border-box; display: flex;">
        <mat-form-field class="mat-input-container mat-form-field ng-tns-c27-82 mat-primary mat-form-field-type-mat-input mat-form-field-can-float mat-form-field-hide-placeholder ng-dirty ng-invalid mat-input-invalid mat-form-field-invalid ng-touched"
            fxflex="grow" style="margin-bottom: 24px; flex: 1 1 100%; box-sizing: border-box;">
            <div class="mat-input-wrapper mat-form-field-wrapper">
                <div class="mat-input-flex mat-form-field-flex">
                    <!---->
                    <div class="mat-input-infix mat-form-field-infix">

                        <input class="mat-input-element mat-form-field-autofill-control ng-tns-c65-81 ng-dirty ng-invalid ng-touched" matinput=""
                            required="" id="mat-input-25" placeholder="" aria-describedby="mat-error-4" aria-invalid="true" aria-required="true">


                        <span class="mat-form-field-label-wrapper mat-input-placeholder-wrapper mat-form-field-placeholder-wrapper">
                            <!---->
                            <label class="mat-form-field-label mat-input-placeholder mat-form-field-placeholder ng-tns-c27-82 ng-star-inserted mat-empty mat-form-field-empty"
                                for="mat-input-25" aria-owns="mat-input-25" style="">
                                <!---->
                                <!---->
                                <mat-placeholder _ngcontent-c65="" class="ng-tns-c65-81 ng-star-inserted">E-Mail</mat-placeholder>
                                <!---->
                                <!---->
                                <span aria-hidden="true" class="mat-placeholder-required mat-form-field-required-marker ng-tns-c27-82 ng-star-inserted">&nbsp;*</span>
                            </label>
                        </span>
                    </div>
                    <!---->
                </div>
                <div class="mat-input-underline mat-form-field-underline">
                    <span class="mat-input-ripple mat-form-field-ripple"></span>
                </div>
                <div class="mat-input-subscript-wrapper mat-form-field-subscript-wrapper">
                    <!---->
                    <div class="ng-tns-c27-82 ng-trigger ng-trigger-transitionMessages ng-star-inserted" style="opacity: 1; transform: translateY(0%);">
                        <!---->
                        <mat-error class="mat-error ng-tns-c65-81 ng-star-inserted" role="alert" id="mat-error-4">We can't recover your password, without your email.
                        </mat-error>
                    </div>
                    <!---->
                </div>
            </div>
        </mat-form-field>
        <button class="ng-tns-c65-81 mat-raised-button mat-primary" color="primary" mat-raised-button="" type="submit" style="margin-bottom: 24px;"
            disabled="">
            <span class="mat-button-wrapper">
                RECOVER PASSWORD
            </span>
            <div class="mat-button-ripple mat-ripple" matripple=""></div>
            <div class="mat-button-focus-overlay"></div>
        </button>
        <aclass="link" href="/login">Back to login</a>
    </div>
</div>