<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span style="color:rgb(38, 15, 54)">bankOnPEAF&nbsp;</span>
    <mat-icon style="color:orange">account_balance_wallet</mat-icon>
    <span class="example-spacer"></span>
    <h2 class="example-h2" style="text-align: center">Just plug into wealthFi, where you can now bank on Producing Energy And Food...</h2>
    <span class="example-spacer"></span>
    <a mat-raised-button color="accent" routerLink="/">Plug In Here</a>
    <button mat-button routerLink="/wealthmore-meter">My WealthMore-meter</button>
    <!-- <button mat-button routerLink="/images/ascii">Images</button> -->
  </mat-toolbar-row>
</mat-toolbar>


<mat-card style="display:flex; align-items:center; justify-content:center; height: 100%; flex-direction: column">
  <mat-card-content>
    <br>
    <br>
    <br>


    <!--     <section class="example-section">
      <label class="example-margin">Search by:</label>
      <mat-radio-group [(ngModel)]="searchType">
        <mat-radio-button class="example-margin" value="(by Author)" (click)="clue='<firstname>space<lastname>'">
          Author
        </mat-radio-button>
        <mat-radio-button class="example-margin" value="(by Title)" (click)="clue='enter 1 (must be just one) keyword'">
          Title
        </mat-radio-button>
      </mat-radio-group>

      <form class="example-form">
        <mat-form-field class="example-full-width">
          <span matPrefix></span>
          <input type="text" matInput #searchStr="ngModel" [(ngModel)]="search" maxlength="50" placeholder="Enter your search here {{searchType}}"
            required>
          <mat-hint #hint align="start">
            <strong>{{clue}}</strong>
          </mat-hint>
          <mat-hint align="end">{{searchStr.value.length}} / 50</mat-hint>
          <mat-icon color="warn" *ngIf="searchStr.value" matSuffix (click)="searchStr.value=''">close</mat-icon>
        </mat-form-field>

        <button mat-button color="primary" mattooltip="Go search!" routerLink="/search" (click)="findBooks(searchType, searchStr.value)"
          [disabled]="!searchStr.value">
          <mat-icon>keyboard_return</mat-icon>
        </button>
      </form>
    </section> -->

    <!--   </mat-card-content>
</mat-card>

<mat-card class="result" style="display:flex; align-items:center; justify-content:center; height:100%">
  <mat-card-content>
    <h3 class="example-h2">Books Showcase
      <button mat-button color="primary" mattooltip="Go browse!" routerLink="/" (click)="backHome(searchStr.value)">
        <mat-icon>restore_page</mat-icon>BrowseMode</button>
    </h3> -->

    <!-- 		<mat-list dense>
			<mat-list-item> Pepper </mat-list-item>
			<mat-list-item> Salt </mat-list-item>
			<mat-list-item> Paprika </mat-list-item>
		</mat-list> -->



    <!--     <section class="example-section">
      <mat-slide-toggle
          class="example-margin"
          [color]="color"
          [checked]="checked"
          [disabled]="disabled">
        Slide me!
      </mat-slide-toggle>
    </section> -->
    <!--     <div style="padding: 10px; border: none; margin: 10px; max-width: 90vw;">
   
    </div> -->
    <router-outlet></router-outlet>
  </mat-card-content>
</mat-card>