<mat-accordion class="example-headers-align">
  <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Personal data
      </mat-panel-title>
      <mat-panel-description>
        Fill out your identification credentials
        <mat-icon>fingerprint</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div class="collapsible-header">
      <i class="material-icons">face</i>Legal Identity Credentials</div>
    <div class="collapsible-body">
      <div class="input-field">
        <input type="text" #name="ngModel" id="name" name="legalName" [(ngModel)]="data.legalName" class="validate" placeholder="{{data.legalName}}"
          required>
        <label for="name">
          <strong class="blue-grey darken-4 orange-text">LEGAL FULL NAME</strong> per national ID-document/NRIC ordering (each part-name separated by space, no comma)
        </label>
      </div>
      <div class="input-field">
        <input type="text" #IDNum="ngModel" id="IDNum" name="legalIDCred" [(ngModel)]="data.legalIDCred" class="validate" placeholder="{{data.legalIDCred}}"
          required>
        <label for="name">
          <strong class="blue-grey darken-4 orange-text">NRIC/PASSPORT#</strong> per national ID-document/NRIC</label>
      </div>

      <div class="col s12 m12">
        <h5 class="header">Upload NRIC/ID-document image..</h5>
        <div class="card s6 m6 horizontal">
          <div class="card-image">
            <img style="height: 150px" id="imgPreviewFront" alt="your image" [src]="localUrlFront" *ngIf="localUrlFront" class="activator imgPlaceholder"
            />
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <p>front .. accepts *.jpg *.png</p>
            </div>
            <div class="card-action">
              <form method="POST" action="localhost:6507/images/ascii" enctype="multipart/form-data">
                <input type="file" #photoIDFrontToSend id="photoIDFrontToSend" name="photoIDFrontToSend" accept=".*" (change)="showPreviewImageFront($event)">
                <input type="submit" value="Send" />
              </form>
            </div>
          </div>
        </div>
        <div class="card s6 m6 horizontal">
          <div class="card-image">
            <img style="height: 150px" id="imgPreviewBack" alt="your image" [src]="localUrlBack" *ngIf="localUrlBack" class="activator imgPlaceholder"
            />
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <p>back .. accepts *.jpg *.png</p>
            </div>
            <div class="card-action">
              <form method="POST" action="localhost:6507/images/ascii" enctype="multipart/form-data">
                <input type="file" #photoIDBackToSend id="photoIDBackToSend" name="photoIDBackToSend" accept=".*" (change)="showPreviewImageBack($event)">
                <input type="submit" value="Send" />
              </form>
            </div>
          </div>
        </div>
      </div>

      <p>{{tokenSvc.clntUserKYC}}></p>



      <div class="col-lg-offset-1 col-md-5 col-sm-6">


        <label>
          <strong class="blue-grey darken-4 orange-text">DATE OF BIRTH</strong>
        </label>
        <input type="date" #DOB id="DOB" name="DOB" class="datepicker">
      </div>
      <div class="btn-group" data-toggle="buttons">
        <label class="btn ink-reaction btn-primary">
          <input type="radio" name="options" id="male">
          <i class="fa fa-male fa-fw"></i> Male
        </label>
        <label class="btn ink-reaction btn-primary">
          <input type="radio" name="options" id="female">
          <i class="fa fa-female fa-fw"></i> Female
        </label>
      </div>
      <p>{{$('input[name=options]:checked').attr('id')}}</p>




    </div>

<!--     <mat-form-field>
      <input matInput placeholder="First name">
    </mat-form-field>

    <mat-form-field>
      <input matInput type="number" min="1" placeholder="Age">
    </mat-form-field> -->

    <mat-action-row>
      <button mat-button color="primary" (click)="nextStep()">Next</button>
    </mat-action-row>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Address Information

      </mat-panel-title>
      <mat-panel-description>
        Country of residence
        <mat-icon>home</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-form-field>
      <input matInput placeholder="Country">
    </mat-form-field>
    <div class="collapsible-header">
      <i class="material-icons">place</i>Contact & Address</div>
    <div class="collapsible-body">
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">phone</i>
          <input type="text" #tellID="ngModel" id="tellID" name="tellID" [(ngModel)]="data.mobileNum" class="validate" placeholder="{{data.mobileNum}}"
            required>
          <label for="mobileNum">Mobile Contact</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input type="text" #postCode="ngModel" id="postCode" name="postCode" [(ngModel)]="data.address.postCode" class="validate"
            placeholder="{{data.address.postCode}}" required>
          <label for="postCode">Postal Code</label>
        </div>
        <div class="input-field col s12">
          <input type="text" #postStreet="ngModel" id="postStreet" name="postStreet" [(ngModel)]="data.address.postStreet" class="validate"
            placeholder="{{data.address.postStreet}}" required>
          <label for="postStreet">Postal Street</label>
        </div>
        <div class="input-field col s12">
          <input type="text" #postBlock="ngModel" id="postBlock" name="postBlock" [(ngModel)]="data.address.postBlock" class="validate"
            placeholder="{{data.address.postBlock}}" required>
          <label for="postBlock">Postal Block</label>
        </div>
        <div class="input-field col s12">
          <input type="text" #postUnit="ngModel" id="postUnit" name="postUnit" [(ngModel)]="data.address.postUnit" class="validate"
            placeholder="{{data.address.postUnit}}" required>
          <label for="postUnit">Postal Unit</label>
        </div>
      </div>

    </div>
    <mat-action-row>
      <button mat-button color="warn" (click)="prevStep()">Previous</button>
      <button mat-button color="primary" (click)="nextStep()">Next</button>
    </mat-action-row>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Bank Details Verification
      </mat-panel-title>
      <mat-panel-description>
        All documents to be less than 3 months
        <mat-icon>account_balance_wallet</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div class="collapsible-header">
      <i class="material-icons">fingerprint</i>Bank Verification</div>
    <div class="collapsible-body">
      <div class="input-field">
        <input type="text" #bankName="ngModel" id="bankName" name="bankName" [(ngModel)]="data.bank['bankName']" class="validate"
          placeholder="{{data.bank['bankName']}}" required>
        <label for="bankName">
          <strong class="blue-grey darken-4 orange-text">BANK NAME</strong>
        </label>
      </div>
      <div class="input-field">
        <input type="text" #bankAcct="ngModel" id="bankAcct" name="bankAcct" [(ngModel)]="data.bank['bankAcct']" class="validate"
          placeholder="{{data.bank['bankAcct']}}" required>
        <label for="bankAcct">
          <strong class="blue-grey darken-4 orange-text">BANK ACCT#</strong>
        </label>
      </div>

      <div class="col s12 m12">
        <h5 class="header">Upload Bank-document image..</h5>
        <div class="card s6 m6 horizontal">
          <div class="card-image">
            <img style="height: 150px" id="imgPreviewBank" alt="your image" [src]="localUrlBank" *ngIf="localUrlBank" class="activator imgPlaceholder"
            />
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <p>Please upload scan image/document copies of your LATEST BANK STATEMENT of no more than 3 MONTHS earlier from
                this signup. The images must include your name, bank account number, postal address for verification purposes
                .. accepts *.jpg *.png *.pdf</p>
            </div>
            <div class="card-action">
              <form>
                <div class="row">
                  <label>Multi File Input</label>
                  <div class="file-field input-field">
                    <div class="btn">
                      <span>Choose Files</span>
                      <input type="file" #photoIDBankToSend id="photoIDBankToSend" name="photoIDBankToSend" accept=".*" (change)="showPreviewImageBank($event)"
                        multiple />
                    </div>

                    <div class="file-path-wrapper">
                      <input class="file-path validate" type="text" placeholder="Upload multiple files" />
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">mode_edit</i>
          <textarea #textAnnotNotaryOthers id="textAnnotNotaryOthers" name="textAnnotNotaryOthers" class="materialize-textarea"></textarea>
          <label for="address">Enter notary information here..</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <input type="text" #clntNotes id="clntNotes" name="clntNotes" placeholder="Previous client note(s).." disabled />
          <label for="clntNotes">Notes</label>
        </div>
      </div>
    </div>

    <mat-form-field>
      <input matInput placeholder="Date" [matDatepicker]="picker" (focus)="picker.open()" readonly>
    </mat-form-field>
    <mat-datepicker #picker></mat-datepicker>

    <mat-action-row>
      <button mat-button color="warn" (click)="prevStep()">Previous</button>
      <button mat-button color="primary" (click)="nextStep()">End</button>
    </mat-action-row>
  </mat-expansion-panel>

  <!--   <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(2)" hideToggle="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Bank Details Verification
      </mat-panel-title>
      <mat-panel-description>
        Inform the date you wish to travel
        <mat-icon>account_balance_wallet</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-form-field>
      <input matInput placeholder="Date" [matDatepicker]="picker" (focus)="picker.open()" readonly>
    </mat-form-field>
    <mat-datepicker #picker></mat-datepicker>

    <mat-action-row>
      <button mat-button color="warn" (click)="prevStep()">Previous</button>
      <button mat-button color="primary" (click)="nextStep()">End</button>
    </mat-action-row>
  </mat-expansion-panel> -->

</mat-accordion>








<!-- <fieldset>
  <legend>
    <h6>Registration CARD
      <b *ngIf="names[0]"> for : {{names[0]}}</b>
    </h6>
  </legend>
  <form #f="ngForm" (ngSubmit)="onSubmitSave(f)" novalidate>
    <h4>Registration for wealthFi service</h4>
    <ul class="collapsible popout" data-collapsible="accordion">
      <li>
      </li>
      <li>
      </li>
      <li>
      </li>
    </ul>
  </form>
</fieldset> -->