<mat-card style="display:flex; align-items:center; justify-content:center; height:100%; width:90%; flex-direction: column">
  <mat-card-header>
    <span mat-card-avatar class="example-header-image"></span>
    <mat-card-title>
      <strong>PLUG IN HERE..</strong>
    </mat-card-title>
    <mat-card-subtitle>(1) Register to (A) subscribe for free, or (B) to sign up, or (2A/B) log in</mat-card-subtitle>
  </mat-card-header>
  <br>
  <br>
  <!--       <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
  <mat-card-content>
    <!--  <h3 class="example-h2">Enter here..
      <button mat-button color="primary" mattooltip="Go browse!" routerLink="/" (click)="backHome(searchStr.value)">
        <mat-icon>restore_page</mat-icon>BrowseMode</button>
    </h3> -->
    <section class="example-section" style="display:inline-block; align-items:center; justify-content:center">

      <mat-form-field class="example-full-width">
        <input matInput type="email" #emailID="ngModel" id="emailID" name="encEmailID" ngModel class="validate" placeholder="Subscribe / Sign Up / Log In   eg. johndoe@gmail.com"
          required>
        <!-- <label for="emailID">subscribe / signUp / logIn email address</label> -->

        <mat-icon matSuffix>account_circle</mat-icon>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput [type]="hide ? 'password' : 'text'" #pw="ngModel" id="pw" name="hshPW" ngModel class="validate" placeholder="Enter your password"
          required>
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
      </mat-form-field>

      <!--         <mat-form-field class="example-full-width">
      <input matInput placeholder="Amount" type="number" class="example-right-align">
      <span matPrefix>$&nbsp;</span>
      <span matSuffix>.00</span>
    </mat-form-field> -->

    </section>
  </mat-card-content>
  <mat-card-actions style="display:flex; align-items:center; justify-content:center; flex-direction:row">
    <button mat-raised-button color="accent" [disabled]="emailID.invalid||!pw.value" (click)="reg3Get('signUp', emailID.value, pw.value)">(1B) SIGNUP</button>
    <button mat-raised-button color="primary" [disabled]="emailID.invalid" (click)="reg3Get('logIn', emailID.value, pw.value)">(2A/B) LOGIN</button>
    <span class="example-margin">&nbsp;</span>
    <button mat-raised-button color="accent" mattooltip="..subscribe-for-free only needs valid email." #subscribe title="subscribe e.g. johndoe@gmail.com"
      [disabled]="emailID.invalid||pw.valid" (click)="reg3Get('subscribe', emailID.value, '')" style="align-self: flex-end">
      <strong style="color:rgb(38, 15, 54)">(1A) Subscribe only</strong>
    </button>

  </mat-card-actions>

  <div>
    <p style="display: flex; flex-direction: column; max-width: 80vw; height: 100%;">Hi I'm Jane:
      <strong style="color: blue">{{tokenSvc.status | json}}</strong>
    </p>
  </div>


</mat-card>